{% extends 'base.html' %}

{% block content %}
<div>
    <div>        
        {% with messages=get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div id="flash-messages" style="width: 100%;">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} fade show mt-3" role="alert" style="font-size: 1.2em; padding: 15px;">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>{{ message }}</span>
                                <button type="button" class="close" onclick="this.parentElement.parentElement.remove();">
                                    &times;
                                </button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
<br>
<br>

    <div class="card mb-3" style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
        <div class="card-body">
                Name<p class="card-text">{{ user.name }}</p>
                Email <p class="card-text">{{ user.email }}</p>
                Contact <p class="card-text">{{ user.mobile }}</p>
                Address <p class="card-text">{{ user.address }}</p>
                country:<p class="card-text">{{ user.country }}</p>
                City <p class="card-text">{{ user.city }}</p>
                Pincode <p class="card-text">{{ user.pincode }}</p>
                <p class="card-text">{{ user.role }}</p>
                
                {% if user.role == 'Professional' %}
                Status: <p class="card-text">{{ professional.status }}</p>
                {% endif %}

                <p class="card-text"><small class="text-muted">Joined {{ user.date_added }}</small></p>               
        </div>
    </div>
    <a href="{{url_for('edit_user',id=user.id)}}" class="btn btn-outline-success">Edit User</a>
    <a href="{{url_for('delete_user',id=user.id)}}" class="btn btn-outline-danger">Delete User</a>

    <h2>Service Requests List</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Contact</th>
                        <th scope="col">Status</th>
                        <th scope="col">Address</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for request in requests %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ request.professional.user.name }}</td>
                            <td>{{ request.professional.user.email }}</td>
                            <td>{{ request.professional.user.mobile }}</td>
                            <td>{{ request.status }}</td>
                            {% if request.status == "Pending" %}
                            <td><a href="{{url_for('edit_request',id=request.id)}}" class="btn btn-primary">Edit</a></td>
                            <td><a href="#" class="btn btn-primary">Delete Request</a></td>
                            {%endif%}
                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        
</div>


    

{% endblock %}